[auth]
issuer_url = "https://kanidm.home.cristiano.cloud/oauth2/openid/hello_idc"
redirect_url = "https://hello_idc.home.cristiano.cloud/oidc/login_auth"
client_id = "client_id"
client_secret = "foo"
post_auth_path = "/user"
